@import "../node_modules/react-image-gallery/styles/css/image-gallery.css";

.image-gallery-slide {
  background-color: rgba(255, 255, 255, 0);
}

.image-gallery-slide img {
  width: initial;
  display: block;
  margin: auto;
}

.image-gallery-thumbnail img {
  width: initial;
  height: 80px;
}