@font-face {
  font-family: 'MightypeScript';
  src: url('MightypeScript.otf');
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background-image: url('images/pinkrice.png');
  color: #545657;
  font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'MightypeScript';
  text-align: center;
}

section {
  overflow: hidden;
}

@media (min-width: 0) {
  section {
    padding: 20px 0;
  }

  .main-image {
    background-image: url('images/loveliveshere-sm.jpg');
    height: 240px;
  }

  .main-image:after {
    font-size: 40px;
  }

  .bride-groom {
    width: 100%;
  }

  .profile-card {
    width: 100%;
    font-size: 18px;
    margin-bottom: 20px;
  }

  .pc-image {
    width: 100%;
    height: 225px;
  }

  .stephen {
    background-image: url('images/stephen.jpg');
  }

  .michelle {
    background-image: url('images/michelle.jpg');
  }

  .photo-details {
    padding: 0 16px;
    margin: 0 auto;
  }

  .photo-details h1, .event-section h1 {
    font-size: 40px;
  }

  .photo-section {
    background-image: url('images/woodbg-md.jpg');
  }

  .event-section {
    background-image: url('images/marriott-washed-360.jpg');
    font-size: 16px;
    padding: 0 0 20px 0;
  }

  .content-big {
    font-size: 24px;
  }

  .mslogo {
    background-image: url('images/mslogo-brown-160.png');
    height: 100px;
    width: 100px;
  }

  .footer-section {
    background-image: url('images/instax-425.jpg');
  }

  .footer-msg {
    font-size: 20px;
    margin: 0;
  }
}

@media (min-width: 330px) {
  .profile-card {
    width: initial;
    margin: 0 8px;
  }

  .pc-image {
    width: 300px;
  }

  .stephen {
    background-image: url('images/stephen-sm.jpg');
  }

  .michelle {
    background-image: url('images/michelle-sm.jpg');
  }

  .event-section {
    background-image: url('images/marriott-washed-500.jpg');
  }
}

@media (min-width: 400px) {
  .main-image {
    background-image: url('images/loveliveshere-md.jpg');
    height: 320px;
  }

  .main-image:after {
    font-size: 48px;
  }

  .footer-section {
    background-image: url('images/instax-768.jpg');
  }
}

@media (min-width: 440px) {
  .profile-card {
    font-size: 24px;
  }

  .pc-image {
    width: 400px;
    height: 300px;
  }

  .stephen {
    background-image: url('images/stephen.jpg');
  }

  .michelle {
    background-image: url('images/michelle.jpg');
  }

  .photo-details h1, .event-section h1 {
    font-size: 48px;
  }

  .event-section {
    background-image: url('images/marriott-washed-original.jpg');
    font-size: 20px;
  }

  .content-big {
    font-size: 32px;
  }
}

@media (min-width: 640px) {
  .main-image {
    height: 560px;
  }

  .main-image:after {
    font-size: 80px;
  }

  .photo-details h1 {
    font-size: 56px;
  }
}

@media (min-width: 660px) {
  section {
    padding: 40px 0;
  }

  .bride-groom {
    width: 660px;
  }

  .profile-card {
    font-size: 18px;
    margin-bottom: 40px;
  }

  .pc-image {
    width: 300px;
    height: 225px;
  }

  .bride-groom-1 {
    float: left;
  }

  .bride-groom-2 {
    float: right;
  }

  .stephen {
    background-image: url('images/stephen-sm.jpg');
  }

  .michelle {
    background-image: url('images/michelle-sm.jpg');
  }

  .photo-details {
    font-size: 20px;
  }
}

@media (min-width: 720px) {
  .photo-details {
    width: 720px;
  }

  .photo-details h1, .event-section h1 {
    font-size: 72px;
  }

  .mslogo {
    background-image: url('images/mslogo-brown-320.png');
    height: 160px;
    width: 160px;
  }

  .footer-msg {
    font-size: 28px;
    margin: 0;
  }

  .footer-section {
    background-image: url('images/instax-1440.jpg');
  }
}

@media (min-width: 900px) {
  .bride-groom {
    width: 870px;
  }

  .profile-card {
    font-size: 24px;
  }

  .pc-image {
    width: 400px;
    height: 300px;
  }

  .stephen {
    background-image: url('images/stephen.jpg');
  }

  .michelle {
    background-image: url('images/michelle.jpg');
  }
}

@media (min-width: 980px) {
  .main-image {
    background-image: url('images/loveliveshere.jpg');
    height: 640px;
  }

  .main-image:after {
    font-size: 128px;
  }

  .photo-content {
    margin: 0 2%;
  }

  .photo-section {
    background-image: url('images/woodbg.jpg');
  }

  .event-section {
    min-height: 600px;
    font-size: 24px;
  }

  .event-location {
    margin: 40px 0;
  }

  .content-big {
    font-size: 48px;
  }
}

@media (min-width: 1074px) {
  .photo-details {
    float: left;
    width: 310px;
    height: 570px;
    font-size: 16px;
  }

  .photo-details h1 {
    font-size: 32px;
  }

  .image-browser {
    float: right;
  }
}

@media (min-width: 1150px) {
  .photo-content {
    margin: 0 5%;
  }

  .event-section {
    min-height: 740px;
  }
}

@media (min-width: 1280px) {
  .photo-content {
    margin: 0 5%;
  }

  .photo-details {
    width: 400px;
    font-size: 20px;
  }

  .photo-details h1 {
    font-size: 48px;
  }

  .event-section {
    padding-top: 40px;
    min-height: 800px;
  }
}

@media (min-width: 1366px) {
  .main-image {
    height: 720px;
  }

  .photo-content {
    margin: 0 4%;
  }

  .photo-details {
    width: 510px;
    font-size: 24px;
  }

  .photo-details h1 {
    font-size: 64px;
  }

  .event-section {
    min-height: 880px;
  }

  .mslogo {
    background-image: url('images/mslogo-brown-640.png');
    height: 200px;
    width: 200px;
  }

  .footer-msg {
    font-size: 32px;
    margin: 0;
  }

  .footer-section {
    background-image: url('images/instax.jpg');
  }
}

@media (min-width: 1600px) {
  .main-image {
    height: 800px;
  }

  .photo-content {
    margin: 0 6%;
  }

  .event-section {
    min-height: 960px;
  }

  .event-location {
    margin: 80px 0;
  }
}

@media (min-width: 1840px) {
  .main-image {
    height: 880px;
  }

  .photo-content {
    margin: 0 10%;
  }

  .event-section {
    min-height: 1120px;
  }

  .event-location {
    margin: 160px 0;
  }
}

.left {
  float: left;
}

.right {
  float: right;
}

.center {
  text-align: center;
}

.chinese {
  font-family: 'Open Sans', 'source-han-sans-traditional', 'Microsoft YaHei New', 'Microsoft Yahei', '微软雅黑', '宋体', 'SimSun', 'STXihei', '华文细黑';
  font-weight: 100;
}

.main-image {
  background-repeat: no-repeat;
  background-position: center 80%;
  background-size: cover;
  text-align: center;
}

.main-image:after {
  content: 'Michelle & Stephen';
  position: relative;
  top: 72%;
  font-family: 'MightypeScript';
  color: #F8EDE9;
}

.bride-groom {
  margin: 0 auto;
  text-align: center;
}

.profile-card {
  display: inline-block;
  background-color: #FFFFFF;
  padding: 7px;
  margin-bottom: 40px;
  border-radius: 3px;
  box-shadow: 0 2px 2px rgba(0,0,0,0.18);
}

.pc-image {
  margin-bottom: 7px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.bg-title {
  font-family: 'MightypeScript';
  font-size: 40px;
  margin-bottom: 24px;
}

.image-browser {
  max-width: 720px;
  margin: 0 auto;
}

.photo-section {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  padding: 0;
}

.photo-section:before {
  content: '';
  position: absolute;
  z-index: -1;
}

.shade, .event-shade, .footer-shade {
  background-color: #675961;
  opacity: 0.18;
  height: 100%;
  z-index: 0;
  position: absolute;
  width: 100%;
}

.event-shade, .footer-shade {
  background-color: #000000;
  height: 100%;
  opacity: 0.6;
  top: 0;
}

.footer-shade {
  background-color: #FFFFFF;
  opacity: 0.8;
}

.photo-details, .event-section {
  position: relative;
  color: #F8EDE9;
  font-weight: 300;
}

.event-section {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  text-align: center;
  font-weight: 300;
}

.content {
  position: relative;
  z-index: 1;
  padding: 0 4%;
}

.content p {
  margin: 16px 0;
}

.rsvp-section {
  box-shadow: inset 0px 0px 16px 4px rgba(0,0,0,0.18)
}

.footer-section {
  position: relative;
  background-repeat: no-repeat;
  background-position: center bottom;
  background-size: cover;
}

.mslogo {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: auto;
  position: relative;
}

.footer-msg {
  position: relative;
  text-align: center;
  color: #675241;
  font-family: 'MightypeScript';
}